@font-face {
    font-family: Nunito-semibold;
    src: url(../fonts/Nunito-SemiBold.ttf);
  }

.copy{
    text-align:center;
    color:#34304C ;
    font-size: 15px;
    font-family:Nunito-semibold;
    margin-top:40px;
}